@import 'tailwindcss';
@import 'tw-animate-css';
@import '../tokens/color.css';
@import '../tokens/spacing.css';
@import '../tokens/typography.css';

@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		margin: 0;
		padding: 0;
	}
}
