@theme {
	/* Colors - Primary */
	--color-primary-100: #bbdefb;
	--color-primary-500: #1976d2;
	--color-primary-700: #09377d;

	/* Colors - Secondary */
	--color-secondary-100: #f5f5f5;
	--color-secondary-500: #838383;
	--color-secondary-700: #2e2e2e;

	/* Colors - Success */
	--color-success-100: #abdaad;
	--color-success-500: #459849;
	--color-success-700: #144b18;

	/* Colors - Danger */
	--color-danger-100: #edadad;
	--color-danger-500: #dc5050;
	--color-danger-700: #b71c1c;

	/* Colors - Warning */
	--color-warning-100: #fff3e0;
	--color-warning-500: #f57c00;
	--color-warning-700: #e65100;

	/* Colors - Info */
	--color-info-100: #e3f2fd;
	--color-info-500: #0288d1;
	--color-info-700: #0d47a1;

	/* Colors - Gray */
	--color-gray-100: #f5f5f5;
	--color-gray-500: #9e9e9e;
	--color-gray-700: #616161;

	/* Colors - White */
	--color-white-DEFAULT: '#fff';
}
