name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install

      - name: Build main app
        run: pnpm run build:after

      - name: Build Storybook
        run: pnpm --filter @front_lite_chapter3-1/after build-storybook

      - name: Prepare deployment directory
        run: |
          mkdir -p deploy
          cp -r packages/after/dist/* deploy/
          cp -r packages/after/storybook-static deploy/storybook

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
